img {
  margin: 1rem 0 1rem 0;
}
.code {
  display: block;
  width: 800px;
  color: #ccc;
  background: black;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  padding: 1rem;
  margin-bottom: 1rem;
}
.file,
.item {
  color: whitesmoke;
  background: grey;
  padding: 0 0.125rem 0 0.125rem;
}
.tab1 {
  margin-left: 2rem;
}
.tab2 {
  margin-left: 4rem;
}
